<div class="container">
    <table class="table table-boarder table-striped">
        <thead>
            <tr>
                <th>name</th>
                <th>email</th>
                <th>tel</th>
                <th>topic</th>
                <th>timePreference</th>
                <th>subscribe</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span>{{userModel.name}}</span></td>
                <td><span>{{userModel.email}}</span></td>
                <td><span>{{userModel.tel}}</span></td>
                <td><span>{{userModel.topic}}</span></td>
                <td><span>{{userModel.timePreference}}</span></td>
                <td><span>{{userModel.subscribe}}</span></td>
            </tr>
        </tbody>
    </table>
</div>