#header{
    background-color: rgb(35, 88, 97);
    padding: 4%;
    color: white;
}
#head{
    background-color: rgb(35, 88, 97);
    margin-left: 45%;
    margin-top: 5%;
}
#box img
{
    width: 200px;
}
#footer{
    background-color: rgb(35, 88, 97);
    padding: 2%;
}
#p1{
    margin-left: 45%;
}
.col1
{
    margin-right: 3%;
}
.col2
{
    margin-left: 3%;
}
#grad{
    padding: 3%;
    background-image: linear-gradient(rgb(140, 214, 202), rgb(226, 226, 214));
}
#Venue
{
    padding: 3%;
    padding-bottom: 3%;
}
#reg
{
    padding: 4%;
}